@model NotifyService.Data.DTOhnNotifyItemUser
<script>
    function CheckAllBox()
    {
        for (let i = 0; i < 5; i++) {
            //const element = array[i];
            var g = "DTOhnNotifyItems["+i+"].Line";
            console.log(document.getElementsByName(g));
            //document.getElementsByName(g).value = ;
            document.getElementsByName(g).checked = "checked";
        }
    }
</script>
@using (Html.BeginForm("ShowMember", "Item", FormMethod.Post, null))
{


    <input type="hidden" name="member_counter" value='@Model.member_counter'/>
    <table class="table table-sm">
        <thead>
            <tr>
                <th hidden></th>
                <th>服務名稱 </th>
                <th>Line</th>
                <th>Mail</th>
                <th>Message</th>     
            </tr>
        </thead>
        <tbody>
         
            @{
                int i = 0;
            }
            @foreach (var p in Model.DTOhnNotifyItems)
            {
                <tr>
                    @Html.Hidden("DTOhnNotifyItems[" + i + "].counter", p.counter)
                    <td>@Html.Label("DTOhnNotifyItems[" + i + "].name", p.name)</td> 
                    <td style="text-align:center">
                        @Html.CheckBox("DTOhnNotifyItems[" + i + "].Line", p.Line)
                    </td>
                    <td style="text-align:center">
                        @Html.CheckBox("DTOhnNotifyItems[" + i + "].Mail", p.Mail)
                    </td>
                    <td style="text-align:center">
                        @Html.CheckBox("DTOhnNotifyItems[" + i + "].Message", p.Message)
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    <input type="submit" value="SAVE"class="btn btn-primary"/>
    <input type="button" value="checkall"class="btn btn-primary" onclick="CheckAllBox()"/>
}